{% extends  "../temp.html" %}
{% load static %}


{% block content %}
<div id="login-form" class="container text-center" style="margin-top: 10%; margin-bottom: 15%;" >

    {% if not examinations %}
    <h1>Brak wpisów.</h1>
    <a href="{% url 'processing_app:processing_image_upload' %}">
                <button type="button" class="btn btn-secondary btn-lg">Przetwórz pierwszy obraz</button>
            </a>
    {% else %}
    {% for id, date, patient_name, description, image in examinations reversed %}

        <button type="button" class="collapsible">{{ patient_name }}</button>
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-5 offset-md-1 col-sm-12">
                        <p>
                            <big>Nazwa: {{ patient_name }}</big>
                        </p>

                        <p>
                            Data: {{ date }}
                        </p>

                        <p>
                            Opis: {{ description }}
                        </p>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <a href="{% url 'processing_app:results' id %}"><img src="{{image}}"  width="150"></a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    {% endif %}
</div>


<script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.maxHeight){
      content.style.maxHeight = null;
    } else {
      content.style.maxHeight = content.scrollHeight + "px";
    }
  });
}
</script>

{% endblock %}
