{% extends  "../temp.html" %}
{% load static %}


{% block content %}
<div id="register-form" class="container text-center" style="margin-top: 10%; margin-bottom: 15%;" >
    <form method="POST" action="">
        {% csrf_token %}
        <div class="row">
        <div class="col-xs-3 mx-auto">

        <img src="{% static "images/logo.png" %}" alt="DermSite" width="150">
        <h1>Zarejestruj się</h1>  
        
        <div class="form-group">
            <label for="input-login">Login</label>
            {{form.username}}
        </div>
        <div class="form-group">
            <label for="input-email">Email</label>
            {{form.email}}
        </div>
        <div class="form-group">
            <label for="input-password">Hasło</label>
            {{form.password1}}
        </div>
        <div class="form-group">
            <label for="input-conf-password">Potwierdź hasło</label>
            {{form.password2}}
        </div>
        
        <button type="submit" class="btn btn-primary">Zarejestruj</button>

        {% for message in messages %}
                <p id="messages">{{ message }}</p>
        {% endfor %}
        
        </div>
        </div>
    </form>
</div>


{% endblock %}